@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&family=Caprasimo&family=Chela+One&display=swap');
:root{
    --color-body:#b6cbce;
    --color-heading:#eef3db;
    --color-base:#033f47;
    --color-base2:#022a30;
    --color-brand:#e0f780;
    --color-brand2:#deff58;
    --sidbar-width:240px;
    --font--basez: "Bai Jamjuree";
}
body{
    background-color: var(--color-base2);
    font-family: var(--font--basez), sans-serif;
    color: var(--color-body);
}
h1,h2,h3,h4,h5,h6{
    color: var(--color-heading);
    font-weight: 700;
}
a{
    text-decoration: none;
    color:var(--color-body);
    transition: all 0.4s ease;
}
a:hover{
    color: var(--color-brand);
}
img{
    width: 100%;
}
section{
padding-top: 60px;
height: 100vh;
}
.rmain{
    /* background-color: black; */
    background-image: url(./images/ramesh_roy_or.png);
    background-repeat: no-repeat;
    height: 100vh;
        width: 100vw;
}
.dark{
    color: white
}
.dis{
    display: none;
}
.offcanvas-body ul li a{
    color: var(--color-body);
}
.rtypewrite{ color:#fff; text-decoration: none;}
i{
    font-size: 50px;
    margin-bottom: 15px;
    color: #29bb89;
}
.card{
   background-color: var(--color-base); 
}
.card p{
    color: var(--color-body);
}
@media only screen and (max-width: 993px) {
    .rmain{
        /* background-color: black; */
        background-image: url(./images/ramesh_roy_rs.png);
        background-repeat: no-repeat;
        height: 100vh;
        width: 100vw;
        background-size: cover;
    }
    .dis{
        display: block;
    }
    .dislg{
        display: none;
    }
  }